html
{
	background-color: #151515;
	color: white;
}


body
{
	font-size: 1rem;
	max-width: min(calc(100% - 2.5rem), 48rem);
	margin: auto;
	line-height: 1.6;
	color: #c0c0c0;
}

h1, h2, h3, h4
{
	color: white;
}
a
{
	color: inherit;
}


header
{
	font-weight: 640;
	color: white;
	font-size: 1.6rem;/*1.2rem;*/
	margin-top: 32px;

}

.links
{
	margin: 32px 0px;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}


.project-body
{
	display: flex;
	flex-direction: row;
	gap: 16px;
	width: 100%;

}
@media (max-width: 48rem)
{
	.project-body
	{
		flex-direction: column;
	}
}
.project-body .text
{
	flex: 1;
}
.project-body .image
{
	flex: 0 0 30%;
}
.project-body .image img
{
	width: 100%;
	height: auto;
}


.image
{

}

/* implement this 
.project-images img
{
	cursor: zoom-in;
	cursor: zoom-out;
	transform: scale(3);
}*/